<div class="container">
	<center>
		<h2>{{MAIN_TITLE}}</h2>
		<p>
			<span>{{LAST_UPDATED}}</span>
		</p>
	</center>
	<br>
	<br>
	<h3>{{TITLE_1}}</h3>

	<form class="well">

		{{FORM_SECTION_1|raw}}

	</form>

	<hr>
	<br>
	<br>

	<h3>{{TITLE_2}}</h3>

	<form class="well">
		{{FORM_SECTION_2|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_3}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_3|raw}}
	</form>

	<hr>
	<br>
	<h3>{{TITLE_4}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_4|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_5}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_5|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_6}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_6|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_7}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_7|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_8}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_8|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_9}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_9|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_10}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_10|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_11}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_11|raw}}
	</form>
	<hr>
	<br>
	<h3>{{TITLE_12}}</h3>
	<form class="well form-inline">
		{{FORM_SECTION_12|raw}}
	</form>

</div>