<head>
	<style>
		ul {
			list-style-type: circle;
		}
	</style>
</head>
<div class="site-content">
	<img src="{{MAIN_IMAGE}}" alt="" width="250" height="150" style="border:3px ridge #e5e5e5;float:left;margin-right:10px;">

	<h2>{{MAIN_TITLE}}</h2>

	<p style="margin-top:20px;">
		{{MAIN_CONTENT}}
	</p>
	<br>
	<div class="row"style="padding-top:40px;">
		<div class="span3">
			<h2>{{COLUMN_1_TITLE}}</h2>
			<p>
				{{COLUMN_1_CONTENT|raw}}
			</p>
		</div>
		<div class="span5">
			<h2>{{COLUMN_2_TITLE}}</h2>
			<p>
			{{COLUMN_2_CONTENT|raw}}
			</p>
		</div>
		<div class="span4">
			<h2>{{COLUMN_3_TITLE}}</h2>
			<br>
			{{COLUMN_3_CONTENT|raw}}

		</div>

	</div>

	<div class="row">
		<div class="span12">
			<h2>{{MIDDLE_TITLE}}</h2>
			<p>
				{{MIDDLE_CONTENT|raw}}
			</p>

		</div>

	</div>
	<hr>
	<div class="row">
		<div class="span3">
			<h2 style="padding-bottom:10px;">{{TEAM_TITLE}}</h2>
			<img src="{{MEMBER_1_IMAGE}}" alt="" style="padding-bottom:5px;">
			<br>
			<h4 style="color:black;">{{MEMBER_1_NAME|raw}}</h4>
			<p>
				{{MEMBER_1_TITLE}}
			</p>
		</div>
		<div class="span3" style="padding-top:45px;">
			<img src="{{MEMBER_2_IMAGE}}" alt="" style="padding-bottom:5px;">
			<br>
{{MEMBER_2_NAME|raw}}
			<p>
				{{MEMBER_2_TITLE}}
			</p>
		</div>
		<div class="span3" style="padding-top:50px;">
			<img src="{{MEMBER_3_IMAGE}}" alt="" style="padding-bottom:5px;">
			<br>
{{MEMBER_3_NAME|raw}}
			<p>
				{{MEMBER_3_TITLE}}
			</p>
		</div>
		<div class="span3" style="padding-top:50px;">
			<img src="{{MEMBER_4_IMAGE}}" alt="" style="padding-bottom:5px;">
			<br>
{{MEMBER_4_NAME|raw}}
			<p>
				{{MEMBER_4_TITLE}}
			</p>
		</div>

	</div>

</div>