<div class="site-content">
	<h1>{{TOP_TITLE}}</h1>
	<br>
	<p>
{{TOP_CAPTION}}
	</p>
	<br>
	{{TOP_CONTENT|raw}}
	<br>

	<hr size="1" color="#e5e5e5">
	<br>
	<h1>{{BOTTOM_TITLE}}</h1>
	<br>
	<img src="{{BOTTOM_IMAGE}}" alt="Family2" width="320" height="207" style="float:right;border: 2px solid #d4d4d4;margin:5px 5px 5px 10px;">

	{{BOTTOM_CONTENT|raw}}

</div>

