<!--Content-->
<div class="site-content">
{{CONTACT_TITLE|raw}}	

	{{CONTACT_FORM|raw}}
</div>

<!--Modal-->
<div class="modal hide" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			×
		</button>
		<h3>Message Sent!</h3>
	</div>
	<div class="modal-body">
		<p>
			Your message has successfully been sent! Will respond at our earliest convinence.
			<br>
			If you need immediate assistance please call us at 586-979-2267 .
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close Notification</a>
	</div>
</div>
<!--End Modal-->
