<head>
	<style>
		h3 {
			color: #525252;
		}
	</style>
</head>
<div class="site-content">
	<h2 style="margin-bottom:10px;">{{MAIN_TITLE}}</h2>
	<p style="padding-bottom:10px;">
		{{MAIN_CAPTION}}
	</p>
		<img src="{{MAIN_IMAGE}}" alt="" width="400" height="230" style="float:right;border: 2px solid #d4d4d4;">

	{{TOP_QUESTIONS|raw}}
	<hr>
	<p>
		<ol>
			{{TOP_1_QUESTION|raw}}
			
			{{TOP_2_QUESTION|raw}}
			
			{{TOP_3_QUESTION|raw}}
			
			{{TOP_4_QUESTION|raw}}
			
			{{TOP_5_QUESTION|raw}}
			
			{{TOP_6_QUESTION|raw}}
			
			{{TOP_7_QUESTION|raw}}
			
			{{TOP_8_QUESTION|raw}}
			
			{{TOP_9_QUESTION|raw}}
			
			{{TOP_10_QUESTION|raw}}

		</ol>
	</p>
</div>
