<style type="text/css">
	h1, h2, h3, h4 {
		color: #525252;
	}
</style>

<div class="site-content">
	<div class="row">
		<div class="span6" style="border-right: 1px ridge #e5e5e5;margin-bottom:20px;">
			{{LEFT_TITLE|raw}}

		{{LEFT_CAPTION|raw}}
			<br>
			<img src="{{FORM_2_IMAGE}}" alt="Infant" width="210" height="120" style="border: 2px solid #d4d4d4;float:right;margin-right:3px;">

			<h3>{{ONLINE_REFERRAL_TITLE}}</h3>
			{{ONLINE_FORM|raw}}
			<br>
			<br>
			<br>
			<br>
			<br>
			<img src="{{FORM_1_IMAGE}}" alt="" width="210" height="120" style="float:right;border: 2px solid #d4d4d4;margin-right:3px;">

			{{DOWNLOAD_FORM|raw}}

		</div>
		<div class="span6">

			{{RIGHT_TITLE|raw}}
			
			{{RIGHT_CAPTION|raw}}
			<hr style="margin-bottom:25px;">
			<h3>{{POST_OFFICE_TITLE}}</h3>

				{{POST_OFFICE_INFORMATION|raw}}
				
<hr>
<h3>{{FAX_TITLE}}</h3>
			
			{{FAX_NUMBER|raw}}
		</div>
	</div>
	

</div>



