<head>
	<style>
		ul {
			
		}
	</style>
</head>
<div class="content-main">
	<!-- Slider -->
	<div id="slider">
		<div class="shell">
			<div class="slider-holder">
				<div class="slider-left">
					<ul>
						<li>
							<h2 style="padding-bottom:5px;">{{TOP_1_TITLE}}</h2>
							<p style="color:white;">
							{{TOP_1_CONTENT}}
							</p>
						</li>
						<li>
							<h2 style="padding-bottom:5px;">{{TOP_2_TITLE}}</h2>
							<p style="color:white;">
							{{TOP_2_CONTENT}}
							</p>
						</li>
						<li>
							<h2 style="padding-bottom:5px;">{{TOP_3_TITLE}}</h2>
							<p style="color:white;">
{{TOP_3_CONTENT}}
							</p>
						</li>
						<li>
							<h2 style="padding-bottom:5px;">{{TOP_4_TITLE}}</h2>
							<p style="color:white;">
{{TOP_4_CONTENT}}
							</p>
						</li>
						<li>
							<h2 style="padding-bottom:5px;">{{TOP_5_TITLE}}</h2>
							<p style="color:white;">
{{TOP_5_CONTENT}}
							</p>
						</li>

					</ul>
				</div>
				<div class="slider-right">
					<ul>
						<li><img src="{{TOP_1_IMAGE}}" alt="" width="642" height="348" />
						</li>
						<li><img src="{{TOP_2_IMAGE}}" alt="" width="642" height="348" />
						</li>
						<li><img src="{{TOP_3_IMAGE}}" alt="" width="642" height="348"/>
						</li>
						<li><img src="{{TOP_4_IMAGE}}" alt="" width="642" height="348"/>
						</li>
						<li><img src="{{TOP_5_IMAGE}}" alt="" width="642" height="348" />
						</li>
					</ul>
				</div>
				<div class="cl">
					&nbsp;
				</div>
				<div class="slider-nav">
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<div class="cl">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Slider -->
	<!-- Main -->
	<div id="main" class="site-content" style="margin-top:10px;">
		<div class="shell">
			<div class="col">
				<h2>{{COLUMN_1_TITLE}}</h2>
				<p>
					{{COLUMN_1_CONTENT}}
				</p>
			</div>
			<div class="col">
				<h2>{{COLUMN_2_TITLE}}</h2>
				<p>
					<b>{{COLUMN_2_CAPTION}}</b>
					
					{{COLUMN_2_CONTENT|raw}}
				</p>
			</div>
			<div class="col last">
				<h2>{{COLUMN_3_TITLE}}</h2>
				<img src="{{COLUMN_3_IMAGE}}" alt="" width="121" height="100" class="right" />
				<p>
					{{COLUMN_3_CONTENT|raw}}
				</p>
				<div class="cl">
					&nbsp;
				</div>
			</div>
			<div class="cl">
				&nbsp;
			</div>
		</div>
	</div>
</div>