<div id="content">
	<div class="content-about">
		<br>
		<h2>Maternal and Infant Health Program</h2>
		<br>

		<p>
			Priority Health Services, Inc., (PHS) has been proudly serving families in the Metro Detroit area since 1996. We are a certified participant in the Maternal Infant Health Program (MIHP) by the Michigan Department of Community Health (MDCH). Our expert staff of Registered Nurses, Registered Dietitians, and Social Workers are at the core of what has made PHS a leading Maternal/ Infant Agency in Michigan for over a decade. PHS is involved in the communities that we serve.
		</p>
		<br>
		<div class="row">
			<div class="span3">
				<h2>Where we serve</h2>
				<p>
					<ul>
						<li>
							Wayne County
						</li>
						<li>
							Oakland County
						</li>
						<li>
							Macomb County
						</li>
					</ul>
				</p>
			</div>
			<div class="span5">
				<h2>What we provide for you</h2>
				<p>
					<ul>
						<li>
							Referrals for baby supplies
						</li>
						<li>
							Referrals for Counseling, Childbirth/Parenting Classes and more!
						</li>
						<li>
							Information on Labor and Delivery
						</li>
						<li>
							Education on childbirth and development
						</li>
						<li>
							Nutrition Counseling
						</li>
						<li>
							And More!
						</li>
					</ul>
				</p>
			</div>
			<div class="span4">
				<h2>Information</h2>
				<br>
				<p>
					All vists are done in-home by Nurses, Dietitians, and Referral Coordinators.
				</p>

				<p>
					All pregnant women and babies up to 12 months on Medicaid are eligible.
				</p>

				<p>
					Call us toll-free 1-888-605-2229 (baby) for more information.
				</p>
				<p>
					<b>Website:</b> www.priorityhealthservices.com
				</p>

			</div>

			<br>

			<h2>Our Involvement</h2>
			<p>
				<ul>
					<li>
						Active in the Fetal Infant Mortality Review process. This process examines on an ongoing and collaborative basis the reasons behind infant mortality. We integrate the information that we obtain from this process to further improve the services that we provide to our families.
					</li>
					<li>
						Members of several community groups such as the Michigan Coalition of Healthy Mothers/Healthy Babies and the Infant Vitality Action Network.
					</li>
					<li>
						Open to research studies and have been selected by the Michigan Department of Community Health as well as the University of Chicago as a study participant.
					</li>
				</ul>
			</p>
			<img src="{{SITE_URL}}/Assets/css/images/family.jpeg" alt="Infant" width="200" height="250" style="border: 2px solid #d4d4d4;margin-bottom:10px;"><img src="{{SITE_URL}}/Assets/css/images/mother-baby2.jpeg" alt="Infant" width="400" height="250" style="border: 2px solid #d4d4d4;float:right;">

			<br>
			<p>
				<b>PHS has received Program Recognition from the MDCH for Exemplary Services as well as a Public Advocacy Award in recognition of advocating for and promoting the health of pregnant women and infants in Michigan. Our Program has also been featured in the Detroit Free Press. </b>
			</p>
			<br>

			<hr size="1" color="#e5e5e5">
			<br>

		</div>
		<!--End Content-->
		<!-- Main -->
		<div id="main">

			<div class="shell">
				<h1>Our Staff</h1>
				<div style="height:20px;width:100%;"></div>
				<div class="col">
					<h2>The Owner</h2>
					<p>
						<img src="http://placehold.it/190x190" alt="">

						<h3>Susan Gough</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non arcu non sem molestie mollis. Nunc tincidunt faucibus lectus, a lacinia massa adipiscing venenatis. Morbi consequat tempus erat, eu facilisis metus ultricies vitae. Praesent purus dui, convallis sollicitudin placerat eget, feugiat nec nibh.
					</p>

				</div>
				<div class="col">
					<h2>Staff Member</h2>
					<p>
						<img src="http://placehold.it/190x190" alt="">
						<h3>Michelle</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non arcu non sem molestie mollis. Nunc tincidunt faucibus lectus, a lacinia massa adipiscing venenatis. Morbi consequat tempus erat, eu facilisis metus ultricies vitae. Praesent purus dui, convallis sollicitudin placerat eget, feugiat nec nibh.
					</p>

				</div>
				<div class="col last">
					<h2>Staff Member</h2>
					<p>
						<img src="http://placehold.it/190x190" alt="">
						<h3>Heather</h3>

					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non arcu non sem molestie mollis. Nunc tincidunt faucibus lectus, a lacinia massa adipiscing venenatis. Morbi consequat tempus erat, eu facilisis metus ultricies vitae. Praesent purus dui, convallis sollicitudin placerat eget, feugiat nec nibh.
					</p>

					<div class="cl">
						&nbsp;
					</div>
				</div>
				<div class="cl">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>