<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Language" content="en-us" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{PAGE_TITLE}}</title>
		<style type="text/css">
			{{STYLE|raw}}
		</style>
		<script type="text/javascript">
			{{JAVASCRIPT|raw}}
		</script>
	</head>

	<body>

		{{CONTENT|raw}}

	</body>

</html>
