<!-- Footer -->
		<div id="footer">
			<div class="center">

				<!-- Footer Cols -->
				<div class="footer-cols">

					<div class="col">
						<div class="general-title">
							<h2>Testimonials</h2>
							<h4>comments from clients</h4>
						</div>
						<div class="testimonial-item">
							<p class="author">
								Mr. John Smith
							</p>
							<p class="date">
								Aug 17th 2010
							</p>
							<p class="comment">
								Lorem ipsum dolor sit amet, consectetur adi
							</p>
						</div>
						<div class="testimonial-item">
							<p class="author">
								Mrs. Jane Smith
							</p>
							<p class="date">
								Jan 17th 2010
							</p>
							<p class="comment">
								Lorem ipsum dolor sit amet, consectetur adi
							</p>
						</div>
						<div class="testimonial-item">
							<p class="author">
								Mr. John Smith
							</p>
							<p class="date">
								May 17th 2010
							</p>
							<p class="comment">
								Lorem ipsum dolor sit amet, consectetur adi
							</p>
						</div>
					</div>

					<div class="col">
						<div class="general-title">
							<h2>Latest Tweets</h2>
							<h4>comments from clients</h4>
						</div>
						<div id="tweets">

						</div>
					</div>

					<div class="col last">
						<div class="general-title">
							<h2>Let's Talk</h2>
							<h4>drop us a message</h4>
						</div>
						<div class="footer-form">
							<form action="#" method="post" class="validate-form">
								<div class="msg-thanks">
									<p>
										<strong>Thank You!</strong> Your message was sent!
									</p>
								</div>
								<fieldset>
									<input type="text" class="field blink required text-field" title="Name" value="Name" name="name-field" />
									<input type="text" class="field blink required valid-email text-field" title="Email" value="Email" name="mail-field" />
									<textarea cols="10" rows="5" class="field message-field blink required text-field" title="Comments" name="message-field">Comments</textarea>
									<input type="hidden" class="text-field" name="footer-submit" value="1" />
									<input type="submit" class="form-btn" value="Send the Message" />
								</fieldset>
							</form>
						</div>
					</div>

					<div class="cl">
						&nbsp;
					</div>
				</div>
				<!-- End Footer Cols -->

				<!-- Footer Bottom -->
				<div class="footer-bottom">

					<p class="footer-links">
						<a href="index.html">Home</a>
						<span>|</span>
						<a href="about.html">About</a>
						<span>|</span>
						<a href="services.html">Services</a>
						<span>|</span>
						<a href="projects.html">Projects</a>
						<span>|</span>
						<a href="blog.html">Blog</a>
						<span>|</span>
						<a href="contact.html">Contact</a>
					</p>

					<p class="site-by">
						&copy; Progress. Design by Design by Awsh.NET
					</p>

					<div class="cl">
						&nbsp;
					</div>
				</div>
				<!-- End Footer Bottom -->

			</div>
		</div>
		<!-- End Footer -->