<!-- Login Pop-up -->
		<div id="screen">
			<div class="abs-holder">
				<div class="login">
					<h4>LOGIN</h4>
					<div class="form-holder">
						<form action="#" method="post">
							<div class="row">
								<input type="text" class="field blink" value="Username" title="Username" />
								<div class="cl">
									&nbsp;
								</div>
							</div>
							<div class="row">
								<input type="password" class="field blink" value="password" title="password" />
								<div class="cl">
									&nbsp;
								</div>
							</div>
							<div class="remember-me">
								<input type="checkbox" class="checkbox"/>
								<label>Remember me</label>
								<div class="cl">
									&nbsp;
								</div>
								<span class="error">Invalid Username or Password!</span>
							</div>
							<div class="row row-btn">
								<input type="submit" class="form-btn" value="Login" />
								<div class="cl">
									&nbsp;
								</div>
							</div>
							<div class="cl">
								&nbsp;
							</div>
						</form>
					</div>
					<a href="#" class="close"></a>
				</div>
			</div>
		</div>
		<!-- End Login Pop-up -->