<!-- Header -->
<div id="header">

	<div class="center">

		<!-- Logo -->
		<h1 id="logo"><span>AWSH Solutions</span><a href="#" class="notext">AWSH.NET</a></h1>
		<!-- End Logo -->

		<!-- Navigation -->
		<div id="navigation">
			<ul>
				<li>
					<a href="{{BASE_URL}}">Home</a>
				</li>
				<li>
					<a href="{{BASE_URL}}/about">About</a>
				</li>
				<li>
					<a href="{{BASE_URL}}/services">Services</a>
					<div class="dd-holder">
						<div class="pointer"></div>
						<ul>
							<li>
								<a href="{{BASE_URL}}/view-service">Service Page 1</a>
								<div class="dd-holder">
									<div class="pointer"></div>
									<ul>
										<!--Service Page 2-->
										<li>
											<a href="{{BASE_URL}}/view-service">Service Page 2</a>
										</li>
										
									</ul>
								</div>
							</li>
							
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="{{BASE_URL}}/projects">Projects</a>
				</li>
				<li>
					<a href="{{BASE_URL}}/blog">Blog</a>
				</li>
				<li>
					<a href="{{BASE_URL}}/contact">Contact</a>
				</li>
				<li class="last">
					<a href="#">Bonus Pages</a>
					<div class="dd-holder">
						<div class="pointer"></div>
						<ul>
							<li>
								<a href="{{BASE_URL}}/emailtemplate">Email Template</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/main">Home Style 1</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/main2">Home Style 2</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/gallery">Gallery Classic Style</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/project-gallery">Gallery Project Style</a>
							</li>
							<li>
								<a href="#" class="login-link">Login</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/error">Error Page</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/under-construction">Under Construction</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/full-page">Full Page</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/left-sidebar">Left Sidebar</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/right-sidebar">Right Sidebar</a>
							</li>
							<li>
								<a href="{{BASE_URL}}/sitemap">Sitemap</a>
							</li>
							<li class="last">
								<a href="{{BASE_URL}}/styles">Styles</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<!-- End Navigation -->

		<div class="cl">
			&nbsp;
		</div>

		<!-- Social-links -->
		<div class="social-links">
			<ul>
				<li>
					<a href="#" title="Follow us on twitter" class="twitter tooltip">twitter</a>
				</li>
				<li>
					<a href="#" title="Like us on facebook" class="facebook tooltip">facebook</a>
				</li>
				<li>
					<a href="#" title="Share on Flickr" class="flickr tooltip">flickr</a>
				</li>
				<li>
					<a href="#" title="RSS Feed" class="rss tooltip">rss</a>
				</li>
			</ul>
		</div>

	</div>

</div>
<!-- End Header -->