<!-- Footer -->
<div id="footer">
	<div class="shell">
		<p class="left">
			Copyright &copy; Priority Health Services, Inc.
			<br>
			Designed by:<a href="http://awsh.net">2012 Awsh.NET</a>
		</p>
		<p class="right">
			11455 East 13 Mile Road
			<span>|</span>
			Suite 201
			<span>|</span>
			Warren, MI  48093
			<span>|</span>
			Phone: 586.979.2267
			<span>|</span>
			Fax: 586.979.1185

		</p>
		<div class="cl">
			&nbsp;
		</div>
	</div>
</div>
<!-- Footer -->