<!-- Header -->
<div id="header">
	<div class="shell">
		<h1 id="logo" class="notext"><a href="{{BASE_URL}}/#">Priority Health / Protecting What Matters Most</a></h1>
		<div id="navigation">
			<ul>
				<li>
					<a href="{{BASE_URL}}" {% if(current_page=="main") %} class="active"{% endif %} ><span><i class="icon-home icon-black"> </i> Home</span></a>
				</li>
				<li>
					<a href="about" {% if(current_page=="about") %} class="active"{% endif %} ><span><i class="icon-list-alt icon-black"> </i> About</span></a>
				</li>
				<li>

					<a href="commitment" {% if(current_page=="commitment") %} class="active"{% endif %} ><span><i class="icon-ok icon-black"> </i> Commitment</span></a>

				</li>
				<li>
					<a href="forms" {% if(current_page=="forms") %} class="active"{% endif %} ><span><i class="icon-th-list icon-black"> </i> Forms</span></a>
				</li>

				<li>
				<a href="contact" {% if(current_page=="contact") %} class="active"{% endif %} ><span><i class="icon-envelope icon-black"> </i> Contact</span></a>
				</li>
				<li>
					<a href="faq" {% if(current_page=="faq") %} class="active" {% endif %} ><span><i class="icon-question-sign icon-black"> </i> FAQ</span></a>
				</li>
			</ul>

		</div>
		<div class="cl">
			&nbsp;
		</div>

	</div>
</div>
<!-- End Header -->