<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" dir="ltr">
	<head>
		<title>Priority Health Services</title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="{{THEME_URL}}/Assets/css/images/favicon.ico" />
		<link rel="stylesheet" href="{{THEME_URL}}/Assets/css/style.css" type="text/css" media="all" />

		<!--[if IE 6]>
		<link rel="stylesheet" href="css/ie6.css" type="text/css" media="all" />
		<script src="js/png-fix.js" type="text/javascript"></script>
		<![endif]-->

		<script src="{{THEME_URL}}/Assets/js/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src="{{THEME_URL}}/Assets/js/jquery.jcarousel.js" type="text/javascript"></script>
		<script src="{{THEME_URL}}/Assets/js/js-func.js" type="text/javascript"></script>
		<style type="text/css">
			ul {
				list-style-type: circle;
			}

			h1, h2, h3, h3 {
				color: #525252;
			}
			
			.content-main h2{
				color:white;
			}
			.content-main #main h2{
				color:#616161;
			}
			
			.content-about{
				 background-color:#ffffff;
				 width:98%;
				 border:1px solid #c8c8c8;
				 padding:10px;
			}
		</style>

		{% if(bootstrap_required) %}
		<link rel="stylesheet" href="{{THEME_URL}}/Assets/bootstrap/theme/ceurelan.css" />
		<link rel="stylesheet" href="{{THEME_URL}}/Assets/Lib/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="{{THEME_URL}}/Assets/Lib/FontAwesome/css/font-awesome.css" />
		<style type="text/css">

		</style>
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[if lt IE 7]>
		<link rel="stylesheet" href="{{THEME_URL}}/Assets/Lib/FontAwesome/css/font-awesome-ie7.css" />
		<![endif]-->

		<script src="{{THEME_URL}}/Assets/bootstrap/js/bootstrap.js"></script>

		<script>
			$(function() {
				$(".modal").modal();
				$('.modal').modal('hide');
			});
		</script>
		{% endif %}
	</head>
	<body>

			{% autoescape false %}
			{% include NAVIGATION%}
			{% endautoescape %}

			{% autoescape false %}
			{% include PAGE%}
			{% endautoescape %}
	
			<div style="height:50px;">
		
			</div>


		{% autoescape false %}
		{% include FOOTER%}
		{% endautoescape %}
	</body>
</html>