<!-- Main -->
<div id="main">

	<div class="center">

		<!-- Content -->
		<div id="content" class="left">
			<div class="entry">
				<div class="general-title">
					<h2>The story behind the company</h2>
					<h4>meet the team</h4>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis. Ea porro aliquyam partiendo pri. Mei munere assentior concludaturque ex, has accusam euripidis instructior ea. Quo an nulla verear, id paulo iriure vel, pri facete graecis constituto at. Facete feugait cu vix. Cu ius semper eripuit conceptam. Has vidisse labores suscipiantur in, qui reque munere sapientem
				</p>
				<div class="team-holder">
					<ul class="team">
						<li><img src="{{SITE_URL}}/Assets/css/images/team-member-1.gif" alt="" />
							<a href="#">John Smith</a>
							<em>UI Designer</em>
						</li>
						<li><img src="{{SITE_URL}}/Assets/css/images/team-member-2.gif" alt="" />
							<a href="#">John Smith</a>
							<em>UI Designer</em>
						</li>
						<li><img src="{{SITE_URL}}/Assets/css/images/team-member-3.gif" alt="" />
							<a href="#">John Smith</a>
							<em>UI Designer</em>
						</li>
						<li class="last"><img src="{{SITE_URL}}/Assets/css/images/team-member-4.gif" alt="" />
							<a href="#">John Smith</a>
							<em>UI Designer</em>
						</li>
					</ul>
					<div class="cl">
						&nbsp;
					</div>
				</div>

				<div class="col col-5">
					<div class="general-title">
						<h2>The core of What We Do?</h2>
						<h4>what we know</h4>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis. Ea porro aliquyam partiendo pri.
					</p>
					<a href="#" class="images"><img src="{{SITE_URL}}/Assets/css/images/about-image1.gif" alt="" /></a>
				</div>

				<div class="col col-5 last">
					<div class="general-title">
						<h2>Quality Matters</h2>
						<h4>quality Assurance</h4>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis. Ea porro aliquyam partiendo pri.
					</p>
					<a href="#" class="images"><img src="{{SITE_URL}}/Assets/css/images/about-image2.gif" alt="" /></a>
				</div>

				<div class="cl">
					&nbsp;
				</div>

			</div>
		</div>
		<!-- End Content -->

		<!-- Sidebr -->
		<div id="sidebar" class="right">
			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Get in Touch</h4>
							<p>
								An errem dolores incorrupte ius, qui in justo prompta perpetua. Dicta expetenda adipiscing usu ea. Legere virtute definitiones ne sea.
							</p>
							<ul class="address">
								<li>
									<strong>Email:</strong><a href="#" class="more">contact@yoururl.com</a>
								</li>
								<li>
									<strong>Phone:</strong>333.444.5555
								</li>
								<li>
									<strong>Address:</strong> Streetname 123 AB City Name ABC, ZW 67676
								</li>
							</ul>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Our Business Partners</h4>
							<a href="http://htmlmafia.com" class="ads"><img src="{{SITE_URL}}/Assets/css/images/htmlmafia.gif" alt="" /></a>
							<a href="http://mailbakery.com" class="ads last"><img src="{{SITE_URL}}/Assets/css/images/mailbakery.gif" alt="" /></a>
							<div class="cl">
								&nbsp;
							</div>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<a href="#" class="request-btn">Request a proposal <span>lets talk about your project</span></a>

		</div>
		<!-- End Sidebar -->

		<div class="cl">
			&nbsp;
		</div>
	</div>

</div>
<!-- End Main -->