<div class="box box-blog">
	<div class="box-b">
		<div class="box-t">
			<div class="post-head">
				<h4><a href="#">{{POST_TITLE}}</a></h4>
				<div class="calendar">
					<p class="day">
						{{the_time('jS')}}
					</p>
					<p class="month">
						{{the_time('F')}}
					</p>
				</div>
				<div class="post-details">
					<p class="author">
						Posted by <a href="#">John Doe</a>
					</p>
					<p class="post-date">
						{{the_time('l, F j, Y, g:i A')}}
					</p>
				</div>
				{% if COMMENT_STATUS=="open"%}
				<a href="#" class="comments">{{COMMENT_COUNT}} Comments</a>
				{%endif%}
				<div class="cl">
					&nbsp;
				</div>
			</div>

			<div class="post-body">
				<a href="#" class="images"><img src="{{ get_post_meta(POST_ID, 'POST_IMAGE', true)|raw }}" style="width:297px;height:189px;" alt="" /></a>
				<p>
					{{POST_CONTENT|raw}}
				</p>
				<div class="cl">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
{% if COMMENT_STATUS=="open"%}
<div class="box box-blog">
	<div class="box-b">
		<div class="box-t">
			<div class="post-head">
				<h4>Comments</h4>
			</div>
			<div class="comments-holder">

				{% for COMMENT in COMMENTS %}
				<div class="comment-item">
					<a href="#" class="avatar">{{get_avatar(COMMENT.comment_author_email,'96','')|raw}}</a>
					<div class="comment-container">
						<div class="comment-head">
							<p>
								by <strong>{{COMMENT.comment_author}}</strong>
							</p>
							<p>
								on {{the_time('l, F j, Y, g:i A')}}
							</p>
						</div>
						<div class="comment-body">
							<p>
								{{COMMENT.comment_content|raw}}
								<br>
								<a href="#" class="more">Quote this Comment</a>
							</p>
						</div>
					</div>
					<div class="cl">
						&nbsp;
					</div>
				</div>

				{% endfor %}
				

			</div>

		</div>
	</div>
</div>



<div class="box box-blog">
	<div class="box-b">
		<div class="box-t">
			<div class="post-head">
				<h4>Leave a Reply</h4>
			</div>

			<div class="comment-form">
				<form action="{{BASE_URL}}/wp-comments-post.php" class="validate-form2" method="post">
					<input type="hidden" name="comment_post_ID" value="{{POST_ID}}" />
					<div class="msg-alert">
						<p>
							<strong>Error!</strong> Some field's are required!
						</p>
					</div>
					<div class="msg-thanks">
						<p>
							<strong>Thank You!</strong> Your comment was posted!
						</p>
					</div>
					<div class="row">
						<input type="text" id="fname-field" name="fname-field" class="field required" />
						<label><span>Your Name</span> (required)</label>
						<div class="cl">
							&nbsp;
						</div>
					</div>

					<div class="row">
						<input type="text" id="email" name="email" class="field required valid-email" />
						<label><span>Your Email</span> (required) Will not be published</label>
						<div class="cl">
							&nbsp;
						</div>
					</div>

					<div class="row">
						<textarea name="comment" id="comment" class="field message required" cols="100" rows="5"></textarea>
						<div class="cl">
							&nbsp;
						</div>
					</div>
					<div class="row">
						<input type="submit" class="form-btn" value="Add Comment" />
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

{%else%}

<!--No Comments-->

{%endif%}
