{% for POST in POSTS %}

<div class="box box-blog">
	<div class="box-b">
		<div class="box-t">
			<div class="post-head">
				<h4><a href="{{POST.guid}}">{{POST.post_title}}</a></h4>
				<div class="calendar">
					<p class="day">
						{{the_time('jS')}}
					</p>
					<p class="month">
						{{the_time('F')}}
					</p>
				</div>
				<div class="post-details">
					<p class="author">
						Posted by <a href="#">{{get_the_author()}}</a>
					</p>
					<p class="post-date">
						{{the_time('l, F j, Y, g:i A')}}
					</p>
				</div>
				<a href="#" class="comments">{{POST.comment_count}} comments</a>
				<div class="cl">
					&nbsp;
				</div>
			</div>

			<div class="post-body">
				<a href="{{POST.guid}}" class="images"><img src="{{ get_post_meta(POST.ID, 'POST_IMAGE', true)|raw }}" style="width:297px;height:189px;" alt="" /></a>
				{{POST.post_content}}
				
				<div class="cl">
					&nbsp;
				</div>
				<a href="{{POST.guid}}" class="blog-btn"><span>Continue Reading &gt;&gt;</span></a>
				<div class="cl">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>

{% endfor %}

