 <!-- Content -->
<div id="content" class="left">
	<div class="entry">

		<form action="#" class="validate-form" method="post">
			<div class="msg-alert">
				<p>
					<strong>Error!</strong> Please fill in all required fields!
				</p>
			</div>
			<div class="msg-thanks">
				<p>
					<strong>Thank You!</strong> Your message was sent!
				</p>
			</div>
			<div class="row">
				<input type="text" id="fname-field" name="fname-field" class="field required text-field" />
				<label><span>First Name</span> (required)</label>
				<div class="cl">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<input type="text" id="lname-field" name="lname-field" class="field required text-field" />
				<label><span>Last Name</span> (required)</label>
				<div class="cl">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<input type="text" id="mail-field" name="mail-field" class="field required valid-email text-field" />
				<label><span>Your Email</span> (required) Will not be published</label>
				<div class="cl">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<input type="text" id="company-field" class="field text-field" name="company-field" />
				<label>Company</label>
				<div class="cl">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<textarea name="message-field" class="field message required text-field" cols="100" rows="5"></textarea>
				<div class="cl">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<input type="submit" class="form-btn" value="Send" />
				<div class="cl">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</div>
<!-- End Content -->