<!-- Error Block -->
<div class="error-404">
	<div class="center">
		<img src="{{THEME_URL}}/Assets/css/images/error-image.jpg" alt="" class="error-image" />
		<div class="error-btn error-btn-first">
			<a href="javascript:history.go(-1)" class="go-back">Go Back</a><span class="go-back-reflection"></span>
		</div>
		<div class="error-btn">
			<a href="{{BASE_URL}}" class="return-home">Return To Home</a><span class="return-home-reflection"></span>
		</div>
		<div class="cl">
			&nbsp;
		</div>
	</div>
</div>
<!-- End Error Block -->