<!-- Location -->
<div id="location">
	<div class="center">
		<h2>{{CONTENT_TITLE}}</h2>
		<p>
			{{CONTENT_CAPTION}}
		</p>
	</div>
</div>
<!-- End Location -->

<!-- Main -->
<div id="main">

	<div class="center">

		<div class="entry">
			<h2 class="title">{{MAIN_CONTENT}}</h2>
			<p>
				{{MAIN_1_CONTENT}}
			</p>
			<p>
				{{MAIN_2_CONTENT}}
			</p>
			<p>
				{{MAIN_3_CONTENT}}
			</p>
			<p>
				{{MAIN_4_CONTENT}}
			</p>
		</div>

	</div>

</div>
<!-- End Main -->
