<!-- Location -->
<div id="location">
	<div class="center">
		<h2>{{PAGE_TITLE}}</h2>
		<p>
			{{PAGE_HEADLINE}}
		</p>
	</div>
</div>
<!-- End Location -->

<!-- Main -->
<div id="main">

	<div class="center">

		<!-- Sidebar -->
		<div id="sidebar" class="left">
			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						{% if is_active_sidebar('left-sidebar-1') %}
						{% set result = dynamic_sidebar('left-sidebar-1') %}
						{% endif %}

						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">

						{% if is_active_sidebar('left-sidebar-2') %}
						{% set result = dynamic_sidebar('left-sidebar-2') %}
						{% endif %}

						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						{% if is_active_sidebar('left-sidebar-3') %}
						{% set result = dynamic_sidebar('left-sidebar-3') %}
						{% endif %}
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End Sidebar -->

		<!-- Content -->
		<div id="content" class="right">
			<div class="entry">
				<h2 class="title">{{MAIN_TITLE}}</h2>
				<p>
					{{MAIN_1_CONTENT}}
				</p>
				<p>
					{{MAIN_2_CONTENT}}
				</p>
				<p>
					{{MAIN_3_CONTENT}}
				</p>
				<p>
					{{MAIN_4_CONTENT}}
				</p>
				<p>
					{{MAIN_5_CONTENT}}
				</p>
			</div>
		</div>
		<!-- End Content -->

		<div class="cl">
			&nbsp;
		</div>
	</div>

</div>
<!-- End Main -->
