<div id="slider">
	<h2 class="title-cnt">{{TOP_1_TITLE}}</h2>
	<div id="featureCarousel">
		<a href="#" class="leftButton">&nbsp;</a>
		<a href="#" class="rightButton">&nbsp;</a>
		<div class="feature">
			<img src="{{TOP_1_IMAGE}}" alt="" class="reflect" />
		</div>
		<div class="feature">
			<img src="{{TOP_2_IMAGE}}" alt="" class="reflect"  />
		</div>
		<div class="feature">
			<img src="{{TOP_3_IMAGE}}" alt="" class="reflect"  />
		</div>
	</div>
</div>
<!-- End Slider -->
<!-- Main -->
<div id="main">

	<div class="center">

		<div class="col col-2">
			<div class="general-title">
				<h2>{{COLUMN_1_TITLE}}</h2>
				<h4>{{COLUMN_1_CAPTION}}</h4>
			</div>
			<div class="entry">
				{{CONTENT|raw}}
				<div class="cl">
					&nbsp;
				</div>
			</div>
		</div>

		<div class="col col-2 last">
			<div class="entry">
				<div class="general-title">
					<h2>{{COLUMN_2_TITLE}}</h2>
					<h4>{{COLUMN_2_CAPTION}}</h4>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.
				</p>
				<ul class="custom-bullet">
					<li>
						<a href="#">Nunc ornare consequat tortor quis quaestio. </a>
					</li>
					<li>
						<a href="#">Vocent viderer dissentiunt accusam corpora. </a>
					</li>
					<li>
						<a href="#">Meis melius elaboraret ne est facilisi dignissim.</a>
					</li>
					<li>
						<a href="#">Meliore feugait dignissim ex vis, putent vocibus has eu. </a>
					</li>
				</ul>
				<div class="quotes">
					<p>
						When  I took office, only high energy physicists had ever heard of what is called the Worldwide Web.... Now even my cat has its own page. - <a href="#">Bill Clinton</a>
					</p>
				</div>
			</div>
		</div>

		<div class="cl">
			&nbsp;
		</div>

		<div class="col col-4">
			<div class="entry">
				<div class="general-title">
					<h2>{{PROMO_1_TITLE}}</h2>
					<h4>{{PROMO_1_CAPTION}}</h4>
				</div>
				<a href="#" class="images"><img src="{{PROMO_1_IMAGE}}" alt="" /></a>
				<p>
					{{PROMO_1_CONTENT|raw}}
				</p>
			</div>
		</div>

		<div class="col col-4">
			<div class="entry">
				<div class="general-title">
					<h2>{{PROMO_2_TITLE}}</h2>
					<h4>{{PROMO_2_CAPTION}}</h4>
				</div>
				<a href="#" class="images"><img src="{{PROMO_2_IMAGE}}" alt="" /></a>
				<p>
					{{PROMO_2_CONTENT|raw}}
				</p>
			</div>
		</div>

		<div class="col col-4 last">
			<div class="entry">
				<div class="general-title">
					<h2>{{PROMO_3_TITLE}}</h2>
					<h4>{{PROMO_3_CAPTION}}</h4>
				</div>
				<a href="#" class="images"><img src="{{PROMO_3_IMAGE}}" alt="" /></a>
				<p>
					{{PROMO_3_CONTENT|raw}}
				</p>
			</div>
		</div>

		<div class="cl">
			&nbsp;
		</div>
	</div>

</div>
<!-- End Main -->