<!-- Location -->
<div id="location">
	<div class="center">
		<h2>{{PAGE_TITLE}}</h2>
		<p>
			{{PAGE_HEADLINE}}
		</p>
	</div>
</div>
<!-- End Location -->

<!-- Main -->
<div id="main">

	<div class="center">

		<!-- Content -->
		<div id="content" class="left">
			<div class="entry">
				{% if CONTENT_TITLE != null %}
				<div class="general-title">
					<h2>{{CONTENT_TITLE}}</h2>
					<h4>{{CONTENT_CAPTION}}</h4>
				</div>
				{% endif %}
				
					{{CONTENT|raw}}
				
				{% autoescape false %}
				{% if CONTENT_PAGE != null %}
				{% include CONTENT_PAGE %}
				{% endif %}
				{% endautoescape %}
				

			</div>
		</div>
		<!-- End Content -->
		<!-- Sidebar -->
		<div id="sidebar" class="right" >
			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						{% if is_active_sidebar('right-sidebar-1') %}
						{% set result = dynamic_sidebar('right-sidebar-1') %}
						{% endif %}

						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						{% if is_active_sidebar('right-sidebar-2') %}
						{% set result = dynamic_sidebar('right-sidebar-2') %}
						{% endif %}
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>
			{% if is_active_sidebar('right-sidebar-3') %}
			{% set result = dynamic_sidebar('right-sidebar-3') %}
			{% endif %}

		</div>
		<!-- End Sidebar -->

		<div class="cl">
			&nbsp;
		</div>
	</div>

</div>
<!-- End Main -->
