{% for POST in POSTS %}

{% if( get_post_meta(POST.ID, 'FEATURED', true)==true ) %}
<div class="project-item featured-project">
	<span class="mark-featured"></span>
	<div class="project-image">
		{% if  get_post_meta(POST.ID, 'RELATIVE_IMAGE', true)==true %}
		<a href="#"><img src="{{THEME_URL}}/{{ get_post_meta(POST.ID, 'POST_IMAGE', true)|raw }}" alt="" style="width:239px;height:161px;"/></a>

		{% else %}
		<a href="#"><img src="{{ get_post_meta(POST.ID, 'POST_IMAGE', true)|raw }}" alt="" style="width:239px;height:161px;"/></a>

		{% endif %}
	</div>
	<h3>{{POST.post_title}}</h3>
	<p>
		{{POST.post_content}}
	</p>
	<a href="{{POST.guid}}" class="more">Find Out More &gt;</a>
	<div class="cl">
		&nbsp;
	</div>
</div>

{% else %}
<div class="project-item">
	<div class="project-image">

		{% if  get_post_meta(POST.ID, 'RELATIVE_IMAGE', true)==true %}
		<a href="#"><img src="{{THEME_URL}}/{{ get_post_meta(POST.ID, 'POST_IMAGE', true)|raw }}" alt="" style="width:239px;height:161px;"/></a>

		{% else %}
		<a href="#"><img src="{{ get_post_meta(POST.ID, 'POST_IMAGE', true)|raw }}" alt="" style="width:239px;height:161px;"/></a>

		{% endif %}
	</div>
	<h3>{{POST.post_title}}</h3>
	<p>
		{{POST.post_content}}
	</p>
	<a href="{{POST.guid}}" class="more">Find Out More &gt;</a>
	<div class="cl">
		&nbsp;
	</div>
</div>
{% endif %}

{% endfor %}

