<!-- Location -->
<div id="location">
	<div class="center">
		<h2>Gallery Project Page</h2>
		<p>
			Intro message goes here.
		</p>
	</div>
</div>
<!-- End Location -->

<!-- Main -->
<div id="main">

	<div class="center">

		<!-- Content -->
		<div id="content" class="left">
			<div class="entry">
				<p>
					{{CONTENT|raw}}
				</p>
				<div class="cl">
					&nbsp;
				</div>
			</div>
		</div>
		<!-- End Content -->

		<!-- Sidebr -->
		<div id="sidebar" class="right">
			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Categories</h4>
							<ul class="custom-bullet">
								<li>
									<a href="#">Scaevola verterem vituperatoribus eos.</a>
								</li>
								<li>
									<a href="#">Velat aliquam verterem, eos at vidit elige.</a>
								</li>
								<li>
									<a href="#">Namat sale solet noluisse, etomui melius.</a>
								</li>
								<li>
									<a href="#">In populo ponderum quo, wisi phaedrum.</a>
								</li>
								<li>
									<a href="#">Probo euripidis periculis posidonium.</a>
								</li>
							</ul>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Some Title</h4>
							<p>
								Lorem ipsum errem nostro eu pri, ex mea placerat mnesarchum. Vix constituam appellantur definitiones ut, pri erat mediocrem abhorreant. Omnesque deserunt his id. At consul expetendis cum, eos liber volumus minimum at, has eu sale invenire intellegebat.
							</p>
							<a href="#" class="more">Read More</a>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Our Business Partners</h4>
							<a href="http://htmlmafia.com" class="ads"><img src="{{THEME_URL}}/Assets/css/images/htmlmafia.gif" alt="" /></a>
							<a href="http://mailbakery.com" class="ads last"><img src="{{THEME_URL}}/Assets/css/images/mailbakery.gif" alt="" /></a>
							<div class="cl">
								&nbsp;
							</div>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End Sidebar -->

		<div class="cl">
			&nbsp;
		</div>
	</div>

</div>
<!-- End Main -->
