<!-- Location -->
	<div id="location">
		<div class="center">
			<h2>Services</h2>
			<p>What we do.</p>
		</div>
	</div>
	<!-- End Location -->
	
	<!-- Main -->
	<div id="main">
		
		<div class="center">
			
			<!-- Content -->
			<div id="content" class="left">
				<div class="entry">
					<div class="general-title">
						<h2>The core of What We Do?</h2>
						<h4>what we know</h4>
					</div>
						<p>
							{{CONTENT|raw}}
						</p>
					
					<div class="service-item">
						<img src="{{SITE_URL}}/Assets/css/images/service-image1.jpg" alt="" class="left" />
						<div class="service-text">
							<h3>Great Mobile Apps</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.</p>
							<a href="service-page.html" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					
					<div class="service-item">
						<img src="{{SITE_URL}}/Assets/css/images/service-image2.jpg" alt="" class="left" />
						<div class="service-text">
							<h3>User Interface Design</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.</p>
							<a href="service-page.html" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					
					<div class="service-item">
						<img src="{{SITE_URL}}/Assets/css/images/service-image3.jpg" alt="" class="left" />
						<div class="service-text">
							<h3>Web Development</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.</p>
							<a href="service-page.html" class="more">Find out more</a>
						</div>
						<div class="cl">&nbsp;</div>
					</div>
					
				</div>
			</div>
			<!-- End Content -->
		
			<!-- Sidebr -->
			<div id="sidebar" class="right">
				<div class="box box-sidebar">
					<div class="box-b">
						<div class="box-t">
							<div class="entry">
								<h4>Get in Touch</h4>
								<p>An errem dolores incorrupte ius, qui in justo prompta perpetua. Dicta expetenda adipiscing usu ea. Legere virtute definitiones ne sea.</p>
								<ul class="address">
								    <li><strong>Email:</strong><a href="#" class="more">contact@yoururl.com</a></li>
								    <li><strong>Phone:</strong>333.444.5555</li>
								    <li><strong>Address:</strong> Streetname 123 AB City Name ABC, ZW 67676</li>
								</ul>
							</div>
							<div class="cl">&nbsp;</div>
						</div>
					</div>
				</div>
				
				
				<div class="box box-sidebar">
					<div class="box-b">
						<div class="box-t">
							<div class="entry">
								<h4>Our Business Partners</h4>
								<a href="http://htmlmafia.com" class="ads"><img src="{{SITE_URL}}/Assets/css/images/htmlmafia.gif" alt="" /></a>
								<a href="http://mailbakery.com" class="ads last"><img src="{{SITE_URL}}/Assets/css/images/mailbakery.gif" alt="" /></a>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="cl">&nbsp;</div>
						</div>
					</div>
				</div>
				
				<a href="#" class="request-btn">Request a proposal <span>lets talk about your project</span></a>
				
			</div>
			<!-- End Sidebar -->
			
			<div class="cl">&nbsp;</div>
		</div>
		
	</div>
	<!-- End Main -->
