<!-- Location -->
<div id="location">
	<div class="center">
		<h2>Styles Page</h2>
		<p>
			Intro message goes here.
		</p>
	</div>
</div>
<!-- End Location -->

<!-- Main -->
<div id="main">

	<div class="center">

		<div class="entry styles">
			{{CONTENT|raw}}

		</div>

	</div>

</div>
<!-- End Main -->
