<!-- Location -->
<div id="location">
	<div class="center">
		<h2>Services</h2>
		<p>
			What we do.
		</p>
	</div>
</div>
<!-- End Location -->

<!-- Main -->
<div id="main">

	<div class="center">

		<!-- Content -->
		<div id="content" class="left">
			<div class="entry">
				<h2 class="title">Lorem ipsum facer dissentiunt ea qui.</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare consequat tortor quis. Ea porro aliquyam partiendo pri. Mei munere assentior concludaturque ex, has accusam euripidis instructior ea. Quo an nulla verear, id paulo iriure vel, pri facete graecis constituto at. Facete feugait cu vix. Cu ius semper eripuit conceptam. Has vidisse labores suscipiantur in, qui reque munere sapientem ad.
				</p>
				<h5 class="title">Pri facete graecis constituto at</h5>
				<p>
					Affert nullam omnesque pro an. Mel ex mazim ridens consequat, modus copiosae per ea. In dico commodo deterruisset sea, salutandi moderatius at nam. Modus latine disputando cum cu, simul albucius at pro, puto ipsum posidonium usu eu. Ea porro aliquyam partiendo pri. Mei munere assentior concludaturque ex, has accusam euripidis instructior ea. Quo an nulla verear, id paulo iriure vel, pri facete graecis constituto at. Facete feugait cu vix. Cu ius semper eripuit conceptam. Has vidisse labores suscipiantur in, qui reque munere sapientem ad.
				</p>
				<ul class="custom-bullet">
					<li>
						<a href="#">Affert nullam omnesque pro an.</a>
					</li>
					<li>
						<a href="#">Mel ex mazim ridens consequat.</a>
					</li>
					<li>
						<a href="#">Modus copiosae per ean dico commodo.</a>
					</li>
					<li>
						<a href="#">Deterruisset sea, salutandi moderatius at nam.</a>
					</li>
					<li>
						<a href="#">Modus latine disputando cum cu, simul albucius.</a>
					</li>
				</ul>
				<div class="service-main-image">
					<a href="{{SITE_URL}}/Assets/css/images/service-main-image.jpg" id="service-image"><img src="{{SITE_URL}}/Assets/css/images/service-main-image.jpg" alt="" /></a>
				</div>
			</div>
		</div>
		<!-- End Content -->

		<!-- Sidebr -->
		<div id="sidebar" class="right">
			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Get in Touch</h4>
							<p>
								An errem dolores incorrupte ius, qui in justo prompta perpetua. Dicta expetenda adipiscing usu ea. Legere virtute definitiones ne sea.
							</p>
							<ul class="address">
								<li>
									<strong>Email:</strong><a href="#" class="more">contact@yoururl.com</a>
								</li>
								<li>
									<strong>Phone:</strong>333.444.5555
								</li>
								<li>
									<strong>Address:</strong> Streetname 123 AB City Name ABC, ZW 67676
								</li>
							</ul>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<div class="box box-sidebar">
				<div class="box-b">
					<div class="box-t">
						<div class="entry">
							<h4>Our Business Partners</h4>
							<a href="http://htmlmafia.com" class="ads"><img src="{{SITE_URL}}/Assets/css/images/htmlmafia.gif" alt="" /></a>
							<a href="http://mailbakery.com" class="ads last"><img src="{{SITE_URL}}/Assets/css/images/mailbakery.gif" alt="" /></a>
							<div class="cl">
								&nbsp;
							</div>
						</div>
						<div class="cl">
							&nbsp;
						</div>
					</div>
				</div>
			</div>

			<a href="#" class="request-btn">Request a proposal <span>lets talk about your project</span></a>

		</div>
		<!-- End Sidebar -->

		<div class="cl">
			&nbsp;
		</div>
	</div>

</div>
<!-- End Main -->
